html body {
    color: rgb(151, 151, 151);
}
nav {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    border-bottom: solid 1px rgb(224, 222, 222);
}
nav ul{
    float: left;
}

nav ul li {
    float: left;
    margin-right: 1.8rem;
    margin-top: 1rem;
    cursor: pointer;
}

nav ul li input[type="button"]{
    margin-top: 0;
    background-color: rgb(92, 92, 255);
    color: white;
    position: relative;
    margin-top: -147px;
}

.result-ul {
    padding-top: 1em;
    padding-bottom: 1em;
}

.container {
    height: 200px;
    position: relative;
}

a {
    text-decoration: none;   
}

.type-of-search {
    padding-left: 9em;
}

.center {
    padding-left: 12%;
    width: 800px;
}

input[type="text"] {
    width: 600px;
    border-radius: 25px;
    height: 45px;
    border: 1px solid rgb(216, 216, 216);
    margin: 15px;
    cursor: auto;
}

.img-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.3rem;
    padding-left: 2rem;
    width: 130px;
}

.url {
    color: #202124;
}
.search-result {
    font-size: large;
    color: #1a0dab;
}
#buttons-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

input[type="button"]{
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #5F6368;
    background-color: #f2f2f2;
    cursor: pointer;
}


footer {
    background-color: rgb(240, 240, 240);
    border-top: 1px solid rgb(216, 216, 216);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: .5rem;
}

